body {
    font-family: serif;
    background-color: #ffffff;
    background-image: url("https://img00.deviantart.net/dcb5/i/2018/187/7/6/semi_transparent_background_overlay_by_grimm_child-dcggew6.png"), url("https://img00.deviantart.net/dcb5/i/2018/187/7/6/semi_transparent_background_overlay_by_grimm_child-dcggew6.png"), url("https://www.pngmart.com/files/12/Pink-Wave-Transparent-Background.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: scroll;
    background-size: 100%, 100%;
    background-position: top, bottom, center;
    color: #6d395c;
    line-height: 1.6;
    margin: 20px;
}

#myImage {
    display: block;
    border: 10px solid #e2b3dc;
    border-radius: 50%;
    width: 300px;
}

.intro {
    margin: 30px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #e2b3dc;
}

.mine {
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #e2b3dc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #e2b3dc;
    opacity: 0.8;
}

.educational-attainment {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    width: calc(90% - 20px);
    height: 100%;
}

.school-item {
    width: calc(40% - 20px);
    margin: 10px;
    padding: 10px;
    border: 3px solid #e2b3dc;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    background-color: #b3b4e2;
}

.skills {
    display: flex;
    margin: 30px;
    justify-content: space-around;
    border: 1px solid #6b4d67;
    border-radius: 20px;
    align-items: center;
    background-color: transparent;
    width: calc(50% - 20px);
    height: 100%;
}

.skill-item {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #e2b3dc;
    border-radius: 20px;
    text-align: left;
    font-size: 22px;
    box-sizing: border-box;
    background-color: transparent;
}

.background {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
    gap: 20px;
    max-width: 1000px;
}

.info {
    width: calc(45% - 20px);
    padding: 10px;
    border: 1px solid #6b4d67;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #b3b4e2;
}

.contact {
    font-size: 20px;
}